html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-size: 48px;
  font-weight: bolder;
  font-family: 'Fjalla One', sans-serif;
  border-bottom: 3px solid;
  padding: 30px 0px 30px 0px;
  background-color: #3D9970;
}

span {
  font-weight: normal;
  font-size: 25px;
  font-family: 'Cuprum', sans-serif;
  color: #FFFFFF;
}

a {
  text-decoration: none;
}

p {
  font-weight: bolder;
  font-family: arial;
  text-align: left;
  padding: 40px 50px 0px 50px;
  font-size: 15px;
}

ul {
  font-family: 'Josefin Sans', sans-serif;
  list-style-type: none;
  font-size: 15px;
  text-align: center;
  border-bottom: solid;
  border-width: 1px;
  padding: 15px 0px 10px 0px;
  word-spacing: 150px;
  background-color: #FFFFFF;
}

li {
  display: inline-block;
}

li a {
  color: #111111;
  text-decoration: none;
}

li a:hover {
  color: #3D9970;
}

.body {
  position: relative;
  background-image: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)), url("/Users/Chris/hunter-test/hunter-design/images/empire.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
  min-height: 100%;
}

.portfolio {
    background-image: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)), url("/Users/Chris/hunter-test/hunter-design/images/Lichfield_Cathedral.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    min-height: 100%;
}

.pricing {
      background-image: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)), url("/Users/Chris/hunter-test/hunter-design/images/vaultcircle.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: bottom;
      background-attachment: fixed;
      min-height: 100%;
}

.testimonials {
  background-image: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)), url("/Users/Chris/hunter-test/hunter-design/images/speakeasy.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
  min-height: 100%;
}

.partners {
  background-image: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)), url("/Users/Chris/hunter-test/hunter-design/images/partners.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  min-height: 100%;
}

.header img {
  float: left;
  width: 100px;
  height: 100px;
}

.img-circle {
  margin: 10px 15px 0px 10px;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 1px black;
}

.footer {
  background-color: #3D9970;
  border-top: 1px solid;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: right;
}

.footer img {
  width: 40px;
  height: 40px;
  margin: 20px;
}

.footer img:hover {
  opacity: 0.5;
}

.footer p {
  font-family: arial;
  padding: 0px 0px 0px 0px;
  font-size: 10px;
  text-align: left;
}

@media only screen and (max-width: 400px) {
  ul {
    word-spacing: 25px;
  }
  h1 {
    font-size: 30px;
  }
  span {
    font-size: 12px;
  }
  .footer {
    text-align: center;
  }
  .footer p {
    padding: 0px 0px 10px 5px;
  }
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
  ul {
    word-spacing: 80px;
  }
  .footer p {
    padding: 0px 0px 10px 5px;
  }
  .footer img {
    margin-bottom: 0px;
  }
}

@media only screen and (min-width: 961px) {
  .footer img {
    margin-bottom: 0px;
  }
  .footer p {
    padding: 0px 0px 10px 5px;
  }
}
